<%= render '/shared/recommend', recommends: @recommends if !@recommends.empty? %>

<div class="container-fluid" style="background-color:#F7F7F7; ">
  <div id="ads" class="row" style="width:1200px; margin:auto; padding-bottom:110px; ">
    <div class="col-md-12 d-flex justify-content-center mt-4">
      <div>
        <h4 class="text-center">D - DAY</h4>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <%= render partial: "/shared/ads", locals: {ads: @ads} %>


  </div>
</div>
