<!-- MAIN BANNER -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 600px;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    
    <% num = 0%>
    <% @banners.each do |banner| %>
      <% unless banner.banner_img.url.blank? %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%=num+=1%>"></li>
      <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner" style="height:100%;">
    <div class="carousel-item active" style="background-color:#FFC94E;">
      <img class="d-block" src="<%= image_path('bg/main1.png') %>" alt="First slide" style=" width: 760px; padding-top: 100px; margin:auto;" >
    </div>
    <% @banners.each do |banner| %>
      <% unless banner.banner_img.url.blank? %>    
        <div class="carousel-item" style="height: 600px;">
          <img class="d-block w-100" src="<%= image_path(banner.banner_img.url.gsub('https://','http://')) %>" alt="Second slide" data-toggle="modal" data-target="#adModal" data-whatever="<%=banner.ad_type%>/<%=banner.id%>" style="cursor: pointer;height: 600px;">
        </div>
      <% end %>
    <% end %>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="display:flex!important; margin:70px 0px;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="display:flex!important;margin:70px 0px;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!-- FOUR AD -->
<div style="">
  <div class="row" style="width:100%;margin:auto; padding-bottom:75px;background-color:#ecf0f5">
    <div class="col-md-12 d-flex justify-content-center">
      <div>
        <p style="text-align:center; font-size:30px;color:black;font-family:NanumB; margin:50px 0px 0px 0px;">BIG ADBALLOON</p>
        <hr style="width:350px;border-top: 3px solid balck;">
        <p style="text-align:center; font-family:NanumB; font-size:15px"> 세상에서 가장 특별한 혜택</p>
      </div>
    </div>
    <div class="big-adballoons"style="margin-left:auto;margin-right:auto;width: 1040px;height: 540px;padding:0px 40px">
      <% @big_goods.each do |k, event|%>
        <% if !event.nil? %>
        <div>
          <div class="grid cs-style-1 " style="width: 100%; height:530px; padding:20px 40px 10px; ">
            <div class="item" data-toggle="modal" data-target="#adModal" data-whatever="<%=event.class.name%>/<%=event.id%>">
              <figure style="background-image: url(<%=ApplicationController.class_variable_get(:@@url) + event.img.url.gsub('https://','http://')%>); height:100%; background-size: cover; overflow: hidden; transition: all .8s;">
                <img class="big_badge" src="<%= image_path("icon/#{k.to_s}.png") %>" alt="<%=k.to_s%>" width="100%" style="position: absolute;">
                <figcaption>
                    <p style="font-size:14px; font-family:NanumB; text-align:right;">
                      <img src="<%= image_path('icon/prize.png') %>" alt="icon_prize" height='15px' style="margin-right:3px;vertical-align: text-top;display: inline-block;" /> <%= event.detail_prize[0] %></p>
                    <hr style="margin: 0.2rem;">
                    <p style="font-size:15px; padding-left:10px;padding-top:3px"><%= event.company %></p>
                    <h5 style="font-size:25px;margin:2px 0px; padding-left:10px;font-family:NanumB;"><%= event.title[0..8]+"..." %></h5>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <script>
  $('.carousel').carousel({
    interval: 2000
  })
  $('.big-adballoons').not('.slick-initialized').slick({
    slidesToShow: 2,
    slidesToScroll: 2
  });
  </script>

  
<!-- EVENT & SALE -->
  <div id="ads" class="row" style="width:1200px; margin:auto; padding-bottom:110px; ">
    <div class="col-md-12 d-flex justify-content-center mt-4">
      <div>
        <p style="text-align:center; color:black;font-family:NanumB; margin:16px 0px 16px 0px;">EVENT & SALE</p>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <%= render partial: "/shared/ads", locals: {ads: @ads} %>

  </div>
