<div class="container">
  <div class="row" >
    <%= render '/shared/sub_title', title: 'ADVERTISE', sub_title: '소개'%>
    <div class="col-md-12">
      <%= image_tag 'bg/client_intro.jpg', alt: 'client_intro', style: "width:100%"%>
    </dv>  
    <div class="col-12">
      <h2 style="font-weight: bold; margin: 20px 0 10px 80px;">광고 등록</h2>
    </div>
    <div class="col-12">
      <%= link_to new_ad_path do %>
        <%= image_tag 'btn/ad.png', alt: 'btn_ad', class: 'mx-auto d-block', style: "width: 500px;"%>
      <% end %>
    </div>
    <%# <div class="col-12 p-3 pb-5" style="background-color:#fdf9f6">
      <h2 style="font-weight: bold; margin: 20px 0 30px 80px;">광고 문의</h2>

      <p class="text-center mb-1">문의시간 　　 am 10:00 - pm 06:00</p>
      <p class="text-center mb-1">점심시간 　　 pm 12:00 - pm 01:00</p>
      <p class="text-center mb-1">휴무　 　  　　토, 일, 공휴일　　　</p>
    </div> %>

  </div>
</div>
