<div class="container-fluid" style="height:616px">
  <div class="row" style="height:100%">
    <div class="col-8 pink-scroll" style="overflow-y: auto; padding-top:15px">
      <div id="modal_container" style="margin-bottom:12px">
        <img src="<%=ApplicationController.class_variable_get(:@@url) + @ad.img.url.gsub('https://','http://')%>" alt="Random" style="" id="modal_img">
        <%#= image_tag 'icon/like.png', alt: @ad.id, height:'25px', style: "position: absolute; top: 10px; left: 10px; z-index: 999; cursor:pointer;", class: "like_ad" %>
        <div style="position: absolute; top: 10px; left: 10px; z-index: 999;">
          <%= like_it?(@ad) %>
        </div>
      <% if @ad.ad_type == "event" %>
        <div id="modal_etc" style="display: flex; justify-content: center; align-items: center; font-size:12px" >
          <div class="pink-scroll" style="width:100%; font-family:NaumB; max-height: 100%;overflow-y: auto; padding: 5px 20%;">
            <div style="display: inline-block; font-weight: bold; border: 1.5px solid; border-radius: 50px; padding: 5px 20px;">참여방법</div>
            <% @no = 0 %>
            <% @ad.detail_method.each do |method| %>
            <div style="width:335px; text-align:left">
              <p style="display: inline-block; margin: 0px;text-align: left; padding-top: 18px; padding-left: 22px;position: relative;">
                <span style="font-family: NaumB; font-size: 27px; font-weight: bold; position: absolute;left: 0px;top: 0px;"><%= @no += 1 %> </span>
                <%= method %>
              </p>
            </div>
            <% end %>
            <div style="display: inline-block; font-weight: bold; border: 1.5px solid; border-radius: 50px; padding: 5px 20px;margin:5px 0px">경품</div>
              <div>
              <% @rank = 0 %>
                <% @ad.detail_prize.each do |prize| %>
                  <p style="margin:5px 0px 0px 0px; font-weight:bold; font-size:17px"><%=@rank += 1%>등</p>
                  <p style="margin:0px"><%= prize %></p>
                <% end %>
              </div>
              <% if (@ad.announced_date <= Date.current) %>
                <a href="<%=@ad.announced_link%>" target="blank">
                  <div style="display: inline-block; border: 1.5px solid red; color:white; background-color:red;border-radius: 50px; padding: 5px 20px;margin:15px 0px;">당첨 확인하러 가기</div>
                </a>
              <% else %>          
                <div style="display: inline-block; border: 1.5px solid black; color:white; background-color:black;border-radius: 50px; padding: 5px 20px;margin:15px 0px;">2018.05.13 발표!</div>
              <% end %>
              <p style="font-family:NanumB; margin:0px; font-weight: bold;text-align:center;"><%=@ad.etc_message.gsub(/\n/, '<br />').html_safe %></p>
          </div>
        </div>
      <% elsif @ad.ad_type == "coupon" %>
        <div id="modal_etc" style="display: flex; justify-content: center; align-items: center; font-size:12px" >
          <div class="pink-scroll" style="width:100%; font-family:NaumB; max-height: 100%;overflow-y: auto; padding: 5px 15%;">

            <div style="font-size:17px; display: inline-block; font-weight: bold; border: 1.5px solid; border-radius: 50px; padding: 5px 20px;margin:5px 0px">
              대상 품목 : 
              <% @ad.detail_prize.each do |prize| %>
                <span style="margin:5px 0px 0px 0px; font-weight:bold; "><%= prize %></span>
              <% end %>
            </div>

            <p style="font-family:NanumR; margin:0px; text-align:center; font-size:20px"><%=@ad.etc_message.gsub(/\n/, '<br />').html_safe %></p>
            <div style="display: inline-block; border: 1.5px solid black; color:white; background-color:black;border-radius: 50px; padding: 5px 20px;margin:15px 0px;"><%= @ad.end_date.in_time_zone("Seoul").strftime("%m-%d") %> 까지!</div>

          </div>
        </div>
      <% end %>
      </div>
      <!-- 클릭시 views 증가 -->
    <% if @ad.ad_type == "event" %>
      <a href="/link/<%=@ad.class.name%>/<%=@ad.id%>"  target="_blank"><span class="badge badge-pill badge-primary" style=" float:right;border: 1px solid red; color: red;background-color:#007bff00;">응모하기</span></a>
      <span class="badge badge-pill badge-primary" style="font-weight:500; float:right;border: 0px solid black; color: #000;background-color:#007bff00;">#<%=@ad.method%></span>
      <span class="badge badge-pill badge-primary" style="font-weight:500; float:right;border: 0px solid black; color: #000;background-color:#007bff00;">#<%=@ad.detail_prize[0]%></span>
      <% if @d_day > 0 %>
        <span class="badge badge-pill badge-primary" style="font-weight:500;float:right;border: 0px solid black; color: #000;background-color:#007bff00;">#D-<%=@d_day%></span>
      <% else %>
        <span class="badge badge-pill badge-primary" style="font-weight:500;float:right;border: 0px solid black; color: #000;background-color:#007bff00;">#D-day</span>
      <% end %>
    <% elsif @ad.ad_type == "coupon"%>
      <a href="/link/<%=@ad.class.name%>/<%=@ad.id%>"  target="_blank"><span class="badge badge-pill badge-primary" style=" float:right;border: 1px solid red; color: red;background-color:#007bff00;">쿠폰사용</span></a>
      <span class="badge badge-pill badge-primary" style="font-weight:500; float:right;border: 0px solid black; color: #000;background-color:#007bff00;">#<%=@ad.detail_prize[0]%></span>
      <% if @d_day > 0 %>
        <span class="badge badge-pill badge-primary" style="font-weight:500;float:right;border: 0px solid black; color: #000;background-color:#007bff00;">#D-<%=@d_day%></span>
      <% else %>
        <span class="badge badge-pill badge-primary" style="font-weight:500;float:right;border: 0px solid black; color: #000;background-color:#007bff00;">#D-day</span>
      <% end %>
    <% end %>
      <p style="font-size:15px;margin-top:32px; margin-bottom:0px;text-align:left"><%= @ad.company %></p>
      <p style="font-size:25px;font-family:NanumB;margin-bottom:3px;text-align:left;font-weight:bold"><%= @ad.title %></p>

    </div>
    <div class="col-4">
      <a data-dismiss="modal" style="cursor: pointer;outline:none;position: absolute; top:0px; right:0px; background-color:#00000000; border:0px; color:black;">
        x
      </a>
      <p style="text-align: center; margin: 0; padding: 15px 0px 25px 0px; font-size: 12px;color: black;">연관 광고</p>
      <div class="pink-scroll" style="height:559px;overflow-y: auto; padding-top:0px; padding-bottom:24px;text-align:right;" >
        <% @sub_ads.each do |sub_ad| %>
          <img id="<%=sub_ad.class.name%>/<%=sub_ad.id%>" class="sub_ad" src= "<%= ApplicationController.class_variable_get(:@@url) + sub_ad.img.url.gsub('https://','http://')%>" alt="Random" style="width: 170px; height:170px;display:block; margin-left:auto;margin-right:auto; margin-bottom:2px;cursor: pointer;">
          <span class="badge badge-pill badge-primary" style="margin-bottom:18px; font-family:NanumR; font-weight:500;color: #000;background-color:#007bff00;">#<%=sub_ad.detail_prize[0]%></span>
          <%# sub_ad.hashtags.pluck(:tag_name).each do |tag|%>
            <!--<span class="badge badge-pill badge-primary" style="margin-bottom:18px; font-family:NanumR; font-weight:500;color: #000;background-color:#007bff00;">#<%=tag%></span>-->
          <%# end %> 
        <% end %>
      </div>
    </div>
  </div>
</div>
