<%= render '/shared/recommend', recommends: @recommends if !@recommends.empty? %>

<div class="container-fluid" style="background-color:#F7F7F7; ">
  <div class="row" style="width:1200px; margin:auto;padding-bottom:200px;">
    <div class="col-md-12 d-flex justify-content-center mt-4">
      <div>
        <h4 class="text-center">검색 결과</h4>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <div class="col-6" style="height: 50px; padding-right:0px;">
      <span style="color:#c8361d; padding:5px; font-size: 14px; font-weight: bold;">경품/이벤트</span>
      <hr style="border-top: 1.5px solid #c8361d; margin-top: 7px; margin-right:10px;">
    </div>
    <div class="col-6" style="height: 50px; padding-left:0px; text-align:right;">
      <span style="color:#c8361d; padding:5px; font-size: 14px; font-weight: bold;">할인/쿠폰</span>
      <hr style="border-top: 1.5px solid #c8361d; margin-top: 7px; margin-left:10px;">
    </div>
    <div class="col-sm-6">
      <div id="event_searches" class="row">
          <%= render partial: "/shared/search", locals: { ads: @events } unless @events.empty? %>
      </div>
    </div>

    <div class="col-sm-6">
      <div id="coupon_searches" class="row">
          <%= render partial: "/shared/search", locals: { ads: @coupons } unless @coupons.empty? %>
      </div>
    </div>

  </div>
</div>
