$('#event_searches').append('<%= j render partial: "/shared/search", locals: { ads: @events } %>');
$('#coupon_searches').append('<%= j render partial: "/shared/search", locals: { ads: @coupons } %>');
