<div class="tab-pane fade <%= 'show active' if (@ad.ad_type == 'event' || !@ad.ad_type?) %>" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
  <%= form_for ad, as: :event do |f| %>
    <input type="hidden" name="ad_type" value="event"/>
    <input type="hidden" name="event[ad_type]" value="event"/>
    <p style="text-align: center; font-family: NanumB; font-size: 18px; margin-top:20px">광고주 정보</p>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :company,'주최사' %>
        <%= f.text_field :company, class: "form-control form-control-sm", :required => true %>
      </div> 
      <div class="form-group col-md-4">
        <%= f.label :businessLicenseNumber, '사업자 등록번호' %>
        <%= f.text_field :businessLicenseNumber, class: "form-control form-control-sm", :required => true %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :phone, '휴대폰 번호' %>
        <%= f.text_field :phone, class: "form-control form-control-sm", placeholder: "- 없이 입력해 주세요.", :required => true %>
      </div>
    </div>
    <p style="text-align: center; font-family: NanumB; font-size: 18px; margin-top: 50px;">광고 정보</p>

    <div class="form-group row">
      
      <%= f.label :title, '제목', class: "col-sm-2 col-form-label client-label mt-1 mb-1" %>
      <div class="col-sm-10 my-auto"> 
        <%= f.text_field :title, class: "form-control form-control-sm", :required => true %> 
      </div>
      <%= f.label :method, '방법', class: "col-sm-2 col-form-label client-label mt-1 mb-1" %>
      <div class="col-sm-5 my-auto"> 
        <%= f.text_field :method, class: "form-control form-control-sm", :required => true %> 
      </div>
      <div class="w-100 d-none d-block"></div>

      <%= f.label :link, '링크', class: "col-sm-2 col-form-label client-label mt-1 mb-1" %>
      <div class="col-sm-10 my-auto"> 
        <%= f.text_field :link, class: "form-control form-control-sm", :required => true %> 
      </div>
      
      <%= f.label :announced_link, '발표 링크', class: "col-sm-2 col-form-label client-label mt-1 mb-1" %>
      <div class="col-sm-10 my-auto"> 
        <%= f.text_field :announced_link, class: "form-control form-control-sm", :required => true %> 
      </div>

      <%= f.label :start_date, '기간', class: "col-sm-2 col-form-label client-label mt-1 mb-1" %>
      <div class="col-sm-4 my-auto">
        <%= f.date_field :start_date, class: "form-control form-control-sm", required: true, disabled: (ad.is_ok?) %> 
      </div>
      <%= f.label :end_date, '~', class: "col-form-labe" %>
      <div class="col-sm-4 my-auto">
        <%= f.date_field :end_date, class: "form-control form-control-sm", required: true, disabled: (ad.is_ok?)  %> 
      </div>
      <%= f.label :announced_date, '당첨자 발표일', class: "col-sm-2 col-form-label client-label mt-1 mb-1" %>
      <div class="col-sm-4 my-auto">
        <%= f.date_field :announced_date, class: "form-control form-control-sm", required: true %> 
      </div>

      <div class="w-100 d-none d-block"></div>
      <div id="event-methods" class="col-sm-12 row pr-0">
        <div class= "col-sm-2 col-form-label client-label">
          <p>응모 방법</p>
          <%=button_tag "+", type: "button", class: "btn btn-outline-dark btn-sm plus" %>
          <%=button_tag "-", type: "button", class: "btn btn-outline-dark btn-sm minus" %>
        </div>
        <div class="col-sm-10 pr-0">
          <% if ad.detail_method_to_a.empty? %>
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <span class="input-group-text " id="event_detail_method_1" style="height:30px; width: 40px; margin: auto;">1</span>
              </div>
              <input type="text" name="event[detail_method][]" class="form-control" ria-describedby="event_detail_method_1" style="height:30px; font-size:14px;" required>
            </div>
          <% else %>
            <% ad.detail_method_to_a.each_with_index do |method, index| %>
              <div class="input-group my-2">
                <div class="input-group-prepend">
                  <span class="input-group-text " id="event_detail_method_<%=index+1%>" style="height:30px; width: 40px; margin: auto;"><%=index+1%></span>
                </div>
                <input type="text" name="event[detail_method][]" class="form-control" ria-describedby="event_detail_method_<%=index + 1%>" style="height:30px; font-size:14px;" value="<%=method%>" required>
              </div>
            <% end %>
          <% end%>
        </div>
      </div>

      <div id="event-prize" class="col-sm-12 row pr-0">
        <div class= "col-sm-2 col-form-label client-label">
          <p>경품</p>
          <%=button_tag "+", type: "button", class: "btn btn-outline-dark btn-sm plus" %>
          <%=button_tag "-", type: "button", class: "btn btn-outline-dark btn-sm minus" %>
        </div>
        <div class="col-sm-10 pr-0">
          <% if ad.detail_prize_to_a.empty? %>
            <div class="input-group my-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="event_detail_prize_1" style="height:30px; width: 40px; margin: auto;">1</span>
              </div>
              <input type="text" name="event[detail_prize][]" class="form-control" ria-describedby="event_detail_method_1" style="height:30px; font-size:14px;"required>
            </div>
          <% else %>
            <% ad.detail_prize_to_a.each_with_index do |method, index| %>
              <div class="input-group my-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="event_detail_prize_<%=index+1%>" style="height:30px; width: 40px; margin: auto;"><%=index+1%></span>
                </div>
                <input type="text" name="event[detail_prize][]" class="form-control" ria-describedby="event_detail_method_<%=index + 1%>" style="height:30px; font-size:14px;" value="<%=method%>"required >
              </div>
            <% end %>
          <% end%>
        </div>
      </div>

      <%= f.label 'etc_message', '기타메세지', class:"col-sm-2 client-label"  %>
      <div class="col-sm-10 mb-3">
        <%= f.text_area 'etc_message', rows: "3", class: "form-control", style: "font-size:14px; resize: none;"%>
      </div>
        
      <%= f.fields_for :hashtags do |ff| %>
        <%= ff.label 'name', '해시태그', class:"col-sm-2 client-label mt-2 mb-2" %>
        <div class="col-sm-10 my-auto">
          <%= ff.text_field 'name', value: ad.hashtags.map { |hashtag| hashtag.name}.map { |k| "##{k}" }.join(" "), class:"form-control form-control-sm hashtag hashtag_input", placeholder: "#치킨 #후라이드", :required => true %>
        </div>
      <% end %>

      <% if !ad.img? %>
        <%= f.label :img, '이미지', class: "col-sm-2 client-label mt-2 mb-2"  %>
        <div class="col-sm-10 my-auto">
          <%= f.file_field :img, class: "form-control-file my-auto input_img", style: "height:30px; font-size:14px; padding:2px" %>
        </div>
      <% else %>
        <%= f.label :temp_img, '이미지', class: "col-sm-2 client-label mt-2 mb-2"  %>
        <div class="col-sm-10 my-auto">
          <%= f.file_field :temp_img, class: "form-control-file my-auto input_img", style: "height:30px; font-size:14px; padding:2px" %>
        </div>
        <div class="col-sm-10 offset-sm-2 mb-3">
          <span style="color:red; font-size:12px">*이미지 변경 원할 때 추가해주세요</span>
        </div>
      <% end %>

      <%= render 'option', ad: ad, f:f %>


      <div class="col-sm-12">
        <%= link_to "취소", ads_path, class: "btn btn-outline-dark btn-sm ml-3", style: "float:right" %>
        <%= f.submit "등록", class: "btn btn-outline-dark btn-sm ml-3", style: "float:right" %>
      </div>

    </div>
  <% end %>
</div>