<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <%= link_to 'EVENT', '#v-pills-home', 
                  class: "nav-link #{'active' if @ad.ad_type == 'event' || !@ad.ad_type? }", id:"v-pills-home-tab", 
                  "data-toggle" => "pill", "role" => "tab", "aria-controls"=>"v-pills-home", "aria-selected" => true if @ad.ad_type == 'event' || !@ad.ad_type? %>
      <%= link_to 'COUPON', '#v-pills-profile', 
                    class: "nav-link #{'active' if @ad.ad_type == 'coupon' }", id:"v-pills-profile-tab", 
                    "data-toggle" => "pill", "role" => "tab", "aria-controls"=>"v-pills-profile", "aria-selected" => false if @ad.ad_type == 'coupon' || !@ad.ad_type? %>

     </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <%= render 'event_form', ad: ad if (@ad.ad_type == 'event' || !@ad.ad_type?) %>
      <%= render 'coupon_form', ad: ad if (@ad.ad_type == 'coupon' || !@ad.ad_type?) %>
    </div>
  </div>
</div>
