<div class="col-sm-12">
  <p style="text-align: center; font-family: NanumB; font-size: 18px; margin-top: 50px;">옵션</p>
</div>


<% if !ad.is_ok? && ad.banner_date.nil? %>
<% end %>

<div class="col-sm-12 row" id="<%= f.options[:as] %>-option-1">
  <div class="col-sm-12 mt-2 mb-2 custom-control custom-checkbox" style="position:relative">
    <input type="checkbox" class="option custom-control-input" id="<%= f.options[:as] %>-main-loc" name="banner_option" value="true" 
            <%='checked' if !ad.banner_date.nil?%> <%='disabled' if ad.is_ok?%> >
    <label class="custom-control-label" for="<%= f.options[:as] %>-main-loc" id="<%= f.options[:as] %>-main-loc-label"style="width:100%">
      <span style="position:absolute">메인 배너</span>
      <img class="" src="<%= image_path('option_1.png') %>" alt="default" style="width:100%;height: 250px; padding-left: 150px;">
    </label>
  </div>
  <% if !ad.banner_img? %>
    <%= f.label :banner_img, "배너 이미지", class: "col-sm-2 mt-2 mb-2 px-1"%>
    <div class="col-sm-10 my-auto">
      <%= f.file_field :banner_img, class: "form-control-file my-auto",style:"height:30px; font-size:14px; padding:2px", 
                      "#{'disabled' if !ad.banner_date?}" => "" %>
    </div>  
  <% else %>
    <%= f.label :temp_banner_img, '배너 이미지', class: "col-sm-2 client-label mt-2 mb-2"  %>
    <div class="col-sm-10 my-auto">
      <%= f.file_field :temp_banner_img, class: "form-control-file my-auto input_img", style: "height:30px; font-size:14px; padding:2px" %>
    </div>
    <div class="col-sm-10 offset-sm-2 mb-3">
      <span style="color:red; font-size:12px">*이미지 변경 원할 때 추가해주세요</span>
    </div>
  <% end %>



  <div class="col-sm-2 mt-1 mb-1">기간</div>
  <div class="col-sm-10">
    <div class="custom-control custom-radio custom-control-inline"> 
      <%= f.radio_button :banner_frequency, 0, class: "custom-control-input", 
                          "#{'disabled' if !ad.banner_date?}" => "",
                          checked: (ad.banner_frequency == 0 || ad.banner_frequency.nil?)  %>
      <%= f.label :banner_frequency_0, '7일',  class: "custom-control-label" %>  
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :banner_frequency, 1, class: "custom-control-input", 
                          "#{'disabled' if !ad.banner_date?}" => "",
                          checked: (ad.banner_frequency == 1)  %>
      <%= f.label :banner_frequency_1, '30일',  class: "custom-control-label" %>  
    </div>
  </div>
  <%= f.label :banner_date, "시작 기간", class: "col-sm-2 mt-2 mb-2" %>
  <div class="col-sm-4 my-auto mr-auto">
    <%= f.date_field :banner_date, class: "form-control form-control-sm", required: true, 
                      "#{'disabled' if !ad.banner_date?}" => "" %> 
  </div>  
  <div class="w-100 d-none d-block my-3"></div>
</div>


<% if !ad.is_ok? && ad.recommend_frequency.nil? %>
<% end %>

<div class="col-sm-12 row" id="<%= f.options[:as] %>-option-1">
  <div class="col-sm-12 mt-2 mb-2 custom-control custom-checkbox">
    <input type="checkbox" class="option custom-control-input" id="<%= f.options[:as] %>-recommend-loc" name="recommend_option" value="true" <%='checked' if !ad.recommend_frequency.nil? %> <%='disabled' if ad.is_ok?%> >
    <label class="custom-control-label" for="<%= f.options[:as] %>-recommend-loc" id="<%= f.options[:as] %>-recommend-loc-label"style="width:100%">
      <span style="position:absolute">추천 배너</span>
      <img class="" src="<%= image_path('option_2.png') %>" alt="default" style="width:100%;height: 250px; padding-left: 150px;">
    </label>
  </div>
  <div class="col-sm-2 mt-1 mb-1">기간</div>
  <div class="col-sm-10">
    <div class="custom-control custom-radio custom-control-inline"> 
      <%= f.radio_button :recommend_frequency, 0, class: "custom-control-input", 
                        "#{'disabled' if !ad.recommend_date?}" => "",
                          checked: (ad.recommend_frequency == 0 || ad.recommend_frequency.nil?)  %>
      <%= f.label :recommend_frequency_0, '7일',  class: "custom-control-label" %>  
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :recommend_frequency, 1, class: "custom-control-input", 
                          "#{'disabled' if !ad.recommend_date?}" => "",
                          checked: (ad.recommend_frequency == 1)  %>
      <%= f.label :recommend_frequency_1, '30일',  class: "custom-control-label" %>  
    </div>
  </div>
  <%= f.label :recommend_date, "시작 기간", class: "col-sm-2 mt-2 mb-2" %>
  <div class="col-sm-4 my-auto mr-auto">
    <%= f.date_field :recommend_date, class: "form-control form-control-sm", required: true, 
                      "#{'disabled' if !ad.recommend_date?}" => "" %> 
  </div>  
</div>