<div class="container">
  <div class="row" style="margin-bottom:110px;">
    <%= render '/shared/sub_title', title: 'ADVERTISE', sub_title: '광고 등록 - EDIT'%>
    <div class="col-md-10 offset-md-1" stayle="margin:auto;">
      <%= render 'form', ad: @ad %>
    </div>
  </div>
</div>
