<div class="container">
  <div class="row" >
    <%= render '/shared/sub_title', title: 'ADVERTISE', sub_title: '등록한 광고'%>
    <main role="main" class="col-md-11" style="margin: 0px auto 20px auto;font-size:14px">
      <div class="row" style="font-size:16px">
        <p style="text-align:left; color:black;font-family:NanumB; margin:0px 0px 16px 0px;">이용자 정보</p>
        <div class="col-sm-12">
          <p>이메일 : <%= current_user.email%></p>
        </div>
      <div class="table-responsive" style="overflow-x:unset">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:5%"></th>
              <th style="width: 10%">등록 예정일</th>
              <th style="width: 55%">제목</th>
              <th style="width: 10%">승인 여부</th>
              <th style="width: 10%">수정</th>
              <th style="width: 10%">삭제</th>
            </tr>
          </thead>
          <tbody>
          
            <% @ads.each do |ad|%>
              <tr>
                <th scope="row"><button class="btn btn-outline-info btn-sm mt-1 btn_client_info">tag 보기</button></th>
                <td><%=ad.start_date.in_time_zone("Seoul").strftime("%m/%d")%></td>
                <td data-toggle="modal" data-target="#adModal" data-whatever="<%=ad.class.name%>/<%=ad.id%>" style="cursor: pointer;"><%= ad.title %></td>
                <td><%= ad.is_ok ? "예" : "아니오" %></td>
                <td>
                  <%= link_to "수정", edit_ad_path(ad), class: "btn btn-outline-danger btn-sm" %>
                </td>
                <td>
                <% if ad.is_ok %>
                email 문의
                <% else %>
                  <%= link_to "x", ad_path(ad), class: "btn btn-outline-danger btn-sm", method: :delete,data: { confirm: '정말 삭제할까요?' } %>
                <% end %>
                </td>
              </tr>
              <tr class="client_info" style="display:none; background-color:#8080805e">
                <td></td>
                <td class="p-1"colspan="5" style="text-align:left; padding-left:12px !important;">
                  <% ad.hashtags.each do |tag|%>
                  #<%= tag.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6" style="border-bottom: 1px solid #dee2e6;padding:11px; position:relative">
                <div class="digg_pagination d-flex justify-content-center" style="height:27px;">
                  <%= will_paginate @events, :container => false %>
                </div>
                <%= link_to  "등록", new_ad_path, class: "btn btn-outline-dark btn-sm", style: "position:absolute;top:8px;right:8px;" %>
              </td>
            </tr>
          </tfoot>
        </table> 
        <div class="digg_pagination d-flex justify-content-center">
        </div>
      </div>
      
      </div>
    </main>
  </div>
</div>