<style>
.form-inputs div input {
  margin: 5px;
}
</style>
<div class="container-fluid" style="background-color:#f2f2f2; height:100%;">
  <div style=" margin:0 auto auto">
    <div class="d-flex justify-content-center" style="padding-top:50px;">
      <a href="/">
        <img src="<%= image_path('logo.png') %>" alt="logo" style="width:195px;"/>
        <hr style="border-top: 2px solid #f92232; margin: 15px 30px 85px; ">
      </a>
    </div>

    <div class="d-flex flex-column justify-content-center">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: {style: "display: inline-block; margin: auto; border: 1px solid gray; border-radius: 50px;", class: "p-5 mb-3"}) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-outline-dark" %>
        </div>
      <% end %>
    
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "", omniauth_authorize_path(resource_name, provider), class: "popup btn_login_#{provider} p-2", "data-width": 600, "data-height": 400 %><br />
        <% end -%>
      <% end -%>
      
    </div>
  </div>
</div>