<div class="container">
  <div class="row" >
    <%= render '/shared/sub_title', title: 'MANAGER', sub_title: ''%>

    <div class="col-md-12 d-flex justify-content-center">
      <div>
        <p style="text-align:center; color:black;font-family:NanumB; margin:10px 0px 10px 0px;">Ad List</p>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <main role="main" class="col-md-11" style="margin: 0px auto 20px auto;font-size:14px">
      <a href="/managers/ad_list?type=total">전체</a> | <a href="/managers/ad_list?type=none">미승인</a> |    <a href="/managers/ad_list?type=img_update">이미지 수정</a>
      <div class="table-responsive" style="overflow-x:unset">
        <table class="table table-hover" style="text-align:center;">
          <thead>
            <tr>
              <th style="width: 5%"></th>
              <th style="width: 3%">id</th>
              <th style="width: 10%">회사</th>
              <th style="width: 20%">제목</th>
              <th style="width: 7%">VIEWS</th>
              <th style="width: 10%">시작 날짜</th>
              <th style="width: 5%">총 기간</th>
              <th style="width: 5%">메인 유무</th>
              <th style="width: 5%">추천 유무</th>
              <th style="width: 10%">승인</th>
              <th style="width: 15%">등록일</th>
              <th style="width: 5%">삭제</th>
            </tr>
          </thead>
          <tbody>
            <% @ads.each do |ad|%> 
            <tr>
              <th scope="row"><button class="btn btn-outline-info btn-sm mt-1 btn_client_info">info</button></th>
              <td><%=ad.id%></td>
              <td><%=ad.company%></td>
              <td data-toggle="modal" data-target="#adModal" data-whatever="<%=ad.class.name%>/<%=ad.id%>" style="cursor: pointer;"><%= ad.title %></td>
              <td><%=ad.views%></td>
              <td><%=ad.start_date.in_time_zone("Seoul").strftime("%m-%d") %></th>
              
              <td><%=(ad.end_date - ad.start_date).to_i%></td>
              <td><% if ad.banner_frequency.nil? %>X
                  <% else %>
                    <a href="<%=ad.banner_img.url%>" target="blank"><%= ad.banner_frequency %></br>
                    <span style="font-size:12px;"><%= ad.banner_date.in_time_zone("Seoul").strftime("%m-%d") %></span></a>
                  <% end %> 
              </td>
              <td><% if ad.recommend_frequency.nil? %>X
                  <% else %>
                    <%= ad.recommend_frequency %></br>
                    <span style="font-size:12px;"><%= ad.recommend_date.in_time_zone("Seoul").strftime("%m-%d") %></span>
                  <% end %> 
              </td>
              <td>
                <% if ad.is_ok %>
                  Ok</br><a href="/managers/ad_check/<%=ad.id%>" data-method="post">취소하기</a>
                <% else %>
                  No</br><a href="/managers/ad_check/<%=ad.id%>" data-method="post">승인하기</a>
                <% end %>
              </td>
              <td><%=ad.created_at.in_time_zone("Seoul").strftime("%m-%d %H:%M")%></td>
              <td>
                <a class="btn btn-outline-danger btn-sm" href="/managers/ads_delete/<%=ad.id%>" data-method="delete"  data-confirm="Are you sure?">X</a>
              </td>
            </tr>
            <tr class="client_info" style="display:none; background-color:#8080805e">
              <td class="p-1"colspan="13" style="text-align:left; padding-left:12px !important;">
                <span style="font-family:NanumB"><%= ad.detail_prize[0] %></span> | 
                <% ad.hashtags.each do |tag|%>
                 #<%= tag.name %>
                <% end %>
              </td>
            </tr>
            <tr class="client_info" style="display:none; background-color:#8080805e;">
              <td colspan="7" style="text-align:left; font-size:16px; vertical-align: middle;">
                <%= ad.user.email %> (<%= ad.user.phone %>)
              </td>
              <% if !(ad.temp_img.url.nil? && ad.temp_banner_img.url.nil?) %>
              <td>
                  <a href="/managers/img_update/<%=ad.id%>"  data-method="post"class="btn btn-outline-danger btn-sm" >수정</a>
              </td>
              <td colspan="5" style="text-align:left; font-size:14px; vertical-align: middle;">
              <% else %>
              <td colspan="6" style="text-align:left; font-size:14px; vertical-align: middle;">
              <% end %>
                <% if !ad.img.url.nil? %><a href="<%=ad.img.url%>" target="blank">기본 이미지</a><% end %>
                <% if !ad.temp_img.url.nil? %>| <a href="<%=ad.temp_img.url%>" target="blank" style="color:red">변경 기본 이미지</a><% end %>
                <br>
                <% if !ad.banner_img.url.nil? %><a href="<%=ad.banner_img.url%>" target="blank">배너 이미지</a><% end %>
                <% if !ad.temp_banner_img.url.nil? %>| <a href="<%=ad.temp_banner_img.url%>" target="blank" style="color:red">변경 배너 이미지</a><% end %>
              </td>
            </tr>
            <% end %>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="12" style="border-bottom: 1px solid #dee2e6;padding:11px; position:relative">
                <div class="digg_pagination d-flex justify-content-center" style="height:27px;">
                  <%= will_paginate @ads, :container => false %>
                </div>
              </td>
            </tr>
          </tfoot>
        </table> 
        <div class="digg_pagination d-flex justify-content-center">
        </div>
      </div>
      
      </div>
    </main>
  </div>
</div>
