<div class="container">
  <div class="row" >
    <%= render '/shared/sub_title', title: 'MANAGER', sub_title: ''%>

    <div class="col-sm-12">
      <h2>메인 현황</h2>
      <%= month_calendar events: @banners do |date, ads| %>
        <%= date.strftime("%d") %> <span style="font-size:10px"><%= ads.length != 0 ? '( '+ads.length.to_s+' )' : '' %></span>
        
        <% ads.each do |meeting| %>
          <div style="background-color:<%=calendar(meeting.id)%>; margin:0 -13px 5px;">
            <span style="padding-left:15px;"><%= meeting.company %></span>
            <span style="font-size:10px">(<%= meeting.id %>)<%#= meeting.banner_frequency %></span>
          </div>
        <% end %>

      <% end %>
    </div>

    <div class="col-sm-12 mt-4">
      <a href="/managers/main">main Big4 관리</a>
    </div>

    <div class="col-sm-12">
      <h5 class="text-center">
        광고 현황(<%=@ads_count%>)<a href="/managers/ad_list?type=total">관리하기</a></p>
        <p>현재 추천 광고 :  <%=@recommends.length%></p>
      </h5>
    </div>
    <div class="col-sm-6 text-center">
      <p>Event (<%= @events.length %>)</p>
      <p>현재 진행중인 Event : <%= @events.where("is_ok = ? and start_date <= ? and end_date >= ?", true, DateTime.now.to_date, DateTime.now.to_date).length %></p>
      <p>등록 대기 진행중인 Event : <%= @events.where(is_ok: false).length %></p>
      <p>이미지 수정 대기 Event : <%= @events.where.not(temp_img: [nil, ""]).or(@events.where.not(temp_banner_img: [nil, ""])).length %></p>
    </div>

    <div class="col-sm-6 text-center">
      <p>Coupon 현황 (<%= @coupons.all.length %>)</p>
      <p>현재 진행중인 Coupon : <%= @coupons.where(["is_ok = ? and start_date <= ? and end_date >= ?", true, DateTime.now.to_date, DateTime.now.to_date]).length %></p>
      <p>등록 대기 진행중인 Coupon : <%= @coupons.where(is_ok: false).length %></p>
      <p>이미지 수정 대기 Coupon : <%= @coupons.where.not(temp_img: [nil, ""]).or(@coupons.where.not(temp_banner_img: [nil, ""])).length %></p>
    </div>
    
    <div class="col-sm-12 mb-4">
      <p>User 현황 (<%= @users_count %> 명 ) / 광고 등록한 User(<%= User.where(user_type: 'client').length %> 명) <a href="/managers/user_list">관리하기</a></p>
    </div>
    


  </div>
</div>