<div class="container">
  <div class="row" >
    <div class="col-sm-12" style="margin:80px 0px 6px;">
      <p style="font-size:28px; font-family: NanumB; margin:0px;display:inline-block">ADVERTISE <span style="font-size: 16px; font-family: NanumB;">메인 관리<span></p>
      <hr style="border-top: 1px solid rgba(0,0,0); margin:7px 0px 32px;">
    </div>
    <div class="col-sm-12 row">
      <p class="col-sm-3" style="text-align:center;">big event (<%=@big_event.id unless @big_event.nil?%>)</p>
      <p class="col-sm-3" style="text-align:center;">big sale (<%=@big_sale.id unless @big_sale.nil?%>)</p>
      <p class="col-sm-3" style="text-align:center;">big choice (<%=@big_choice.ad_type unless @big_choice.nil?%> : <%=@big_choice.id unless @big_choice.nil?%>)</p>
      <p class="col-sm-3" style="text-align:center;"></p>
  
      <div class="col-sm-3 p-4 cs-style-3" style="height:330px;  margin-bottom:30px">
        <% unless @big_event.nil? %>
          <div class="item" data-toggle="modal" data-target="#adModal" data-whatever="<%=@big_event.class.name%>/<%=@big_event.id%>">
            <figure style="background-image: url(<%=ApplicationController.class_variable_get(:@@url) + @big_event.img.url.gsub('https://','http://')%>); height:100%; background-size: cover; overflow: hidden; transition: all .8s;">
              <figcaption>
                <p style="font-size:10px; font-family:NanumB; text-align:right;">
                  <img src="<%= image_path('icon/prize.png') %>" alt="icon_prize" height='12px'style="margin-right:2px;vertical-align: text-top;" /> <%= @big_event.detail_prize[0] %></p>
                <hr style="margin: 0.2rem;">
                <p style="font-size:10px; padding-left:10px;padding-top:2px"><%= @big_event.company %></p>
                <h5 style="margin:2px 0px; font-family:NanumB; padding-left:10px"><%= @big_event.title[0..8]+"..." %></h5>
              </figcaption>
            </figure>
          </div>
        <% end %>
      </div>
      <div class="col-sm-3 p-4 cs-style-3" style="height:330px;  margin-bottom:30px">
        <% unless @big_sale.nil? %>
          <div class="item" data-toggle="modal" data-target="#adModal" data-whatever="<%=@big_sale.class.name%>/<%=@big_sale.id%>">
            <figure style="background-image: url(<%=ApplicationController.class_variable_get(:@@url) + @big_sale.img.url.gsub('https://','http://')%>); height:100%; background-size: cover; overflow: hidden; transition: all .8s;">
              <figcaption>
                <p style="font-size:10px; font-family:NanumB; text-align:right;">
                  <img src="<%= image_path('icon/prize.png') %>" alt="icon_prize" height='12px'style="margin-right:2px;vertical-align: text-top;" /> <%= @big_sale.detail_prize[0] %></p>
                <hr style="margin: 0.2rem;">
                <p style="font-size:10px; padding-left:10px;padding-top:2px"><%= @big_sale.company %></p>
                <h5 style="margin:2px 0px; font-family:NanumB; padding-left:10px"><%= @big_sale.title[0..8]+"..." %></h5>
              </figcaption>
            </figure>
          </div>
        <% end %>
      </div>    
      <div class="col-sm-3 p-4 cs-style-3" style="height:330px;  margin-bottom:30px">
        <% unless @big_choice.nil? %>
          <div class="item" data-toggle="modal" data-target="#adModal" data-whatever="<%=@big_choice.class.name%>/<%=@big_choice.id%>">
            <figure style="background-image: url(<%=ApplicationController.class_variable_get(:@@url) + @big_choice.img.url.gsub('https://','http://')%>); height:100%; background-size: cover; overflow: hidden; transition: all .8s;">
              <figcaption>
                <p style="font-size:10px; font-family:NanumB; text-align:right;">
                  <img src="<%= image_path('icon/prize.png') %>" alt="icon_prize" height='12px'style="margin-right:2px;vertical-align: text-top;" /> <%= @big_choice.detail_prize[0] %></p>
                <hr style="margin: 0.2rem;">
                <p style="font-size:10px; padding-left:10px;padding-top:2px"><%= @big_choice.company %></p>
                <h5 style="margin:2px 0px; font-family:NanumB; padding-left:10px"><%= @big_choice.title[0..8]+"..." %></h5>
              </figcaption>
            </figure>
          </div>
        <% end %>
      </div>
      <div class="col-sm-3 p-4 cs-style-3" style="height:330px;  margin-bottom:30px">
        
      </div>    
      
      <div class="col-sm-3">
        <form action="/managers/main_update/1" method="post">
          <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
          <input type="text" name="id">
          <button type="submit">수정</button>
        </form>
      </div>
      <div class="col-sm-3">
        <form action="/managers/main_update/2" method="post">
          <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
          <input type="text" name="id">
          <button type="submit">수정</button>
        </form>
      </div>
      <div class="col-sm-3">
        <form action="/managers/main_update/3" method="post">
          <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
          <input type="text" name="id">
          <button type="submit">수정</button>
        </form>
      </div>
      <div class="col-sm-3">
        <!--<form action="/manager/main/today_adballoon" method="post">
          <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="today_event" name="ad" class="custom-control-input" value="event">
            <label class="custom-control-label" for="today_event">event</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="today_coupon" name="ad" class="custom-control-input" value="coupon">
            <label class="custom-control-label" for="today_coupon">coupon</label>
          </div>
          <input type="text" name="id">
          <button type="submit">수정</button>
        </form>-->
      </div>
      

    </div>
  </div>
</div>
