<div class="container">
  <div class="row" >
    <%= render '/shared/sub_title', title: 'MANAGER', sub_title: '나의 정보'%>

    <div class="col-6 row d-flex justify-content-center mt-4">
      <div class="col-12">
        <p style="text-align:center; color:black;font-family:NanumB; margin:16px 0px 16px 0px;">LIKE EVENT (<%=@events.count%>)</p>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
      <%= render partial: "/shared/search", locals: { ads: @events } unless @events.empty? %>

    </div>

    <div class="col-6 row d-flex justify-content-center mt-4">
      <div class="col-12">
        <p style="text-align:center; color:black;font-family:NanumB; margin:16px 0px 16px 0px;">LIKE COUPON (<%=@coupons.count%>)</p>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
      <%= render partial: "/shared/search", locals: { ads: @coupons } unless @coupons.empty? %>
    </div>
  </div>
</div>