<div class="container">
  <div class="row" >
    <%= render '/shared/sub_title', title: 'MANAGER', sub_title: ''%>

    <div class="col-md-12 d-flex justify-content-center">
      <div>
        <p style="text-align:center; color:black;font-family:NanumB; margin:10px 0px 10px 0px;">Ad List</p>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <main role="main" class="col-md-11" style="margin: 0px auto 20px auto;font-size:14px">
      <a href="/managers/user_list?type=client">광고주</a> | <a href="/managers/user_list">전체</a> 
      <div class="table-responsive" style="overflow-x:unset">
        <table class="table table-hover" style="text-align:center;">
          <thead>
            <tr>
              <th>id</th>
              <th>user_type</th>
              <th>company</th>
              <th>email</th>
              <th>phone</th>
              <th>last_sign_in_at</th>
              <th>last_sign_in_ip</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |u| %>
              <tr>
                <td><%=u.id%></td>
                <td><%=u.user_type%></td>
                <td><%=u.company%></td>
                <td><%=u.email%></td>
                <td><%=u.phone%></td>
                <td><%=u.last_sign_in_at%></td>
                <td><%=u.last_sign_in_ip%></td>
              </tr>
            <% end %>
          </tbody>
           <tfoot>
            <tr>
              <td colspan="12" style="border-bottom: 1px solid #dee2e6;padding:11px; position:relative">
                <div class="digg_pagination d-flex justify-content-center" style="height:27px;">
                  <%= will_paginate @users, :container => false %>
                </div>
              </td>
            </tr>
          </tfoot>
        </table> 
        <div class="digg_pagination d-flex justify-content-center">
        </div>
      </div>
      
      </div>
    </main>
  </div>
</div>