<% ads.each do |ad| %>
  <div class="col-sm-3 p-4 cs-style-3" style="height:330px;  margin-bottom:30px">
    <div class="item" data-toggle="modal" data-target="#adModal" data-whatever="<%=ad.class.name%>/<%=ad.id%>">
      <figure style="background-image: url(<%=ApplicationController.class_variable_get(:@@url) + ad.img.url.gsub('https://','http://')%>); height:100%; background-size: cover; overflow: hidden; transition: all .8s;">
        <figcaption>
            <p style="font-size:10px; font-family:NanumB; text-align:right;">
              <img src="<%= image_path('icon/prize.png') %>" alt="icon_prize" height='12px'style="margin-right:2px;vertical-align: text-top;" /> <%= ad.detail_prize[0] %></p>
            <hr style="margin: 0.2rem;">
            <p style="font-size:10px; padding-left:10px;padding-top:2px"><%= ad.company %></p>
            <h5 style="margin:2px 0px; font-family:NanumB; padding-left:10px">
            <%= truncate(ad.title, length: 13) %></h5>
        </figcaption>
      </figure>
    </div>
  </div>
<% end %>

<div class="col-sm-12 pagination" style="display:none">
  <%= will_paginate ads, :container => false %>
</div>

