<% key = 'success' if k == 'notice' || k == 'success' %>
<% key = 'danger' if k == 'alert'|| k == 'danger' %>
<div class="alert alert-<%=key%> fade show mr-5" role="alert" style="z-index:999; position:absolute; top: 50px; right: 20px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h5 class="alert-heading pr-5">알림</h5>
  <hr class="my-2">
  <p class="mb-0"><%=v.html_safe%></p>
</div>
<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
</script>