<div class="container-fluid" style="background-color: #F7F7F7; padding-left:0px; padding-right:0px;">
  <div style="padding-bottom: 30px; padding-top: 15px;background-color: #efefef;">
    <div>
      <p style="text-align:center; color:black;font-family:NanumB; margin:16px 0px 16px 0px;">추천 광고</p>
      <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
    </div>
    <div class="multiple-items"style="margin-left:auto;margin-right:auto;width: 1200px;height: 443px;">
      <% recommends.each do |ad| %>
        <div>
          <div class="grid cs-style-1 " style="width: 100%; height:443px; padding:20px;">
            <div class="item" data-toggle="modal" data-target="#adModal" data-whatever="<%=ad.class.name%>/<%=ad.id%>">
                <figure style="background-image: url(<%=ApplicationController.class_variable_get(:@@url) + ad.img.url.gsub('https://','http://')%>); height:100%; background-size: cover; overflow: hidden; transition: all .8s;">
              <figcaption>
                  <p style="font-size:14px; font-family:NanumB; text-align:right;">
                    <img src="<%= image_path('icon/prize.png') %>" alt="icon_prize" height='15px' style="margin-right:3px;vertical-align: text-top;display: inline-block;" /> <%= ad.detail_prize[0] %></p>
                  <hr style="margin: 0.2rem;">
                  <p style="font-size:15px; padding-left:10px;padding-top:3px"><%= ad.company %></p>
                  <h5 style="font-size:25px;margin:2px 0px; padding-left:10px;font-family:NanumB;"><%= ad.title[0..8]+"..." %></h5>
              </figcaption>
            </figure>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
$('.multiple-items').slick({
   dots: true,
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3
});
</script>