<div class="col-md-12" style="margin:20px 0px 6px;">
  <p style="font-size:28px; font-family: NanumB; margin:0px;display:inline-block"><%=title%> <span style="font-size: 16px; font-family: NanumB;"><%=sub_title%><span></p>
  <hr style="border-top: 1px solid rgba(0,0,0); margin:7px 0px 32px;">
</div>