<div class="container-fluid" style="background-color:#F7F7F7; min-height: 100vh;">
  <div class="row" style="width:1200px; margin:auto;padding-bottom:200px;">
    <div class="col-md-12 d-flex justify-content-center mt-4">
      <div>
        <p style="text-align:center; color:black;font-family:NanumB; margin:16px 0px 16px 0px;">
          <%= market_post.new_record? ? '글작성' : '수정' %>
        </p>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <%= form_for market_post do |f| %>
        <div class="form-group row">
          <div class="col-sm-2">  
            <%= f.select(:post_type, [['삽니다', 'buy'], ['팝니다','sell']], {}, { class: 'form-control form-control-sm', disabled: (!market_post.new_record?) }) %>
          </div>
          <div class="col-sm-10" style="margin: auto;" >
            <%= f.text_field :title, class: "form-control form-control-sm", placeholder: "제목", required:true%>
          </div>

          <div class="col-sm-12 mt-3" style="margin: auto;" >
            <%= f.text_area :content, class: "tinymce", rows: 18, cols: 120 %>
            <%= tinymce %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 offset-sm-10" style="text-align:right">
            <%= f.submit '등록', class: "btn btn-outline-dark btn-sm ml-3", style: "display:inline-block" %>
            <%= link_to '취소', market_posts_path, class: "btn btn-outline-dark btn-sm ml-3", style: "display:inline-block" , "data-confirm" => "정말 취소하시겠습니까?"%>
          </div>
        </div>
      <% end %>
    </div>    
  </div>  
</div>