<%= render '/shared/recommend', recommends: @recommends if !@recommends.empty? %>

<div class="container-fluid" style="background-color:#F7F7F7; ">
  <div class="row" style="width:1200px; margin:auto;padding-bottom:200px;">
    <div class="col-md-12 d-flex justify-content-center mt-4">
      <div>
        <h2 class="text-center">AD MAKET</h2>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <main role="main" class="col-md-11" style="margin: 0px auto 20px auto;font-size:14px;">
      <div class="table-responsive" style="overflow-x: unset;">
        <p style="color:black;font-family:NanumB; margin:16px 0px 16px 0px;">
          <%= link_to '전체', market_posts_path, class: "category #{'category_active' if params[:type].nil?}" %>
          <%= link_to '삽니다', market_posts_path(type:"buy"), class: "category #{'category_active' if params[:type] == "buy"}" %>
          <%= link_to '팝니다', market_posts_path(type:"sell"), class: "category #{'category_active' if params[:type] == "sell"}" %>
        </p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width: 5%; text-align:center;">No</th>
              <th style="width: 10%"></th>
              <th style="width: 65%">제목</th>
              <th style="width: 10%;text-align:center;">작성자</th>
              <th style="width: 10%; text-align:center;">날짜</th>
            </tr>
          </thead>
          <tbody>
          <% if !@market_posts.nil?%>
            <% @market_posts.reverse.each do |post|  %>
             <tr style="cursor:pointer;"  onClick="location.href='<%= market_post_path(post) %>'">
                <th scope="row" style="text-align:center;"><%=post.id%></th>
                <td>[<%= post.post_type == "buy" ? '삽니다' : '팝니다' %>]</td>
                <td><%=post.title%> <span >(<%=post.market_comments.size%>)<span></td>
                <td style="text-align:center;"><%=post.user.email.split('@')[0]%></td>
                <td style="text-align:center;"><%=post.created_at.utc.in_time_zone("Seoul").strftime("%m-%d")%></td>
              </tr>
            <% end %>
            <% end%>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" style="border-bottom: 1px solid #dee2e6;padding:11px; position:relative">
                <div class="digg_pagination d-flex justify-content-center" style="height:27px;">
                  <%= will_paginate @market_posts, :container => false %>
                </div>
                <%= link_to '등록', new_market_post_path(pre: params[:type]), class: "btn btn-outline-dark btn-sm", style: "position:absolute;top:8px;right:8px;" %>
              </td>
            </tr>
            <tr>
              <td colspan="4" style="padding: 12px 20%;">
              <form action="/market_posts" method="get" >
                <input type="hidden" name="type" value="<%=params[:type]%>">
                <div class="input-group mb-3">
                  <select name="search_type" class="form-control form-control-sm" style="flex:0.2; ">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                  </select>
                  <input type="text" name="search"class="form-control  form-control-sm" required>
                  <button type="submit" class="btn btn-outline-dark btn-sm ml-3 mr-3">검색</button>
                </div>
              </form>
              </td>
            </tr>
          </tfoot>
        </table> 
        <div class="digg_pagination d-flex justify-content-center">
          
        </div>
      </div>
    </main>
    
  </div>  
</div>
