<div class="container-fluid" style="background-color:#F7F7F7; padding-top: 44px; ">
  <div class="row" style="width:1200px; margin:auto;padding-bottom:20px;">
    <div class="col-sm-12 d-flex justify-content-center mt-4">
      <div>
        <p style="text-align:center; color:black;font-family:NanumB; margin:16px 0px 16px 0px;">
        AD MARKET
        </p>
        <hr style="width:300px;border-top: 1px solid rgba(0,0,0,.1);">
      </div>
    </div>
    <div class="col-sm-10 offset-sm-1 row" style="border-top: 2px solid red; padding-top: 10px;">
      <div class="col-sm-1 pb-2" style="border-bottom: 1px solid rgba(0,0,0,.1);"><p style="text-align:right; margin:0px;">제목</p></div>
      <div class="col-sm-11 pb-2" style="border-bottom: 1px solid rgba(0,0,0,.1);">[<%= @market_post.post_type == "buy" ? '삽니다' : '팝니다' %>] <%=@market_post.title%></div>
      <div class="col-sm-12 pt-2 pb-2" >
        <%=@market_post.user.email%>
        <span style="border-left: 1px solid rgba(0,0,0,.1);margin-right: 10px;margin-left: 5px;"></span>
        <%=@market_post.created_at.utc.in_time_zone("Seoul").strftime("%Y-%m-%d")%>
      </div>
      <div class="col-sm-12 mb-3" style="min-height:300px;border-top: 1px solid rgba(0,0,0,.1);padding-top:10px">
        <%=@market_post.content.html_safe%>
      </div>

    


     
      <div class="col-sm-5 offset-sm-7 mt-3 mb-3" style="text-align:right">
        <% if current_user == @market_post.user || current_user.user_type == "manager"%>
          <%= link_to '수정', edit_market_post_path(@market_post), class: "btn btn-outline-dark btn-sm ml-3" %>
          <%= link_to '삭제', market_post_path(@market_post), class: "btn btn-outline-dark btn-sm ml-3", method: :delete, "data-confirm" => "정말 삭제하시겠습니까?" %>
        <% end %>
        <%= link_to '목록', market_posts_path, class: "btn btn-outline-dark btn-sm ml-3"%>
      </div>
      


      <div class="col-sm-12 py-2 mb-4 px-0" style="border: 1px solid rgba(0,0,0,.1); border-radius: 5px;">
        <p class="m-2">코멘트(<%=@market_post.market_comments.size%>)</p>
          <% @market_post.market_comments.where("reply_comment_id IS NULL").each do |comment| %>
            <div>
              <div class="mx-2 px-2 py-3" style="border-top:1px dotted rgba(0,0,0,.1); position:relative;"> 
              <% if !comment.isSecret || @market_post.user.id == current_user.id || comment.user.id ==  current_user.id || current_user.user_type == "manager"%>
                <p class="m-1" style="font-family:NanumB;">
                  <span style="background-color:black;padding:2px; border-radius: 12px;"><img style="margin:auto" src="<%= image_path('icon/login_fill.png') %>" alt="icon_login" height='17px' /></span>
                  <%= comment.user.email %>
                  <% if comment.isSecret %>
                    <img style="margin:auto" src="<%= image_path('icon/secret.png') %>" alt="icon_secret" height='17px' />
                  <% end %>
                </p>
                <p class="m-2 pr-5">
                  <%= comment.content %>
                  <span style="padding-left:10px;font-size:12px;opacity:0.5;color: rgb(138, 131, 126) !important;"><%= comment.created_at.in_time_zone("Seoul").strftime("%y.%m.%d %H:%M")%></span>
                </p>
                  <button type="button" class="btn btn-outline-dark btn-sm btn_reply" style="position:absolute; right:8px; bottom: 16px;">답글</button>       
                  <%= link_to 'X', market_post_market_comment_path(@market_post, comment), method: :delete, "data-confirm" => "정말 삭제하시겠습니까?", class: "btn btn-outline-dark btn-sm", style: "position:absolute; right:8px; top: 8px;"  if comment.user.id == current_user.id || current_user.user_type == "manager" %>
              <% else %>
                <p class="m-2 pr-5">
                  비밀 댓글 입니다.
                  <span style="padding-left:10px;font-size:12px;opacity:0.5;color: rgb(138, 131, 126) !important;"><%= comment.created_at.in_time_zone("Seoul").strftime("%y.%m.%d %H:%M")%></span>
                </p>
              <% end %>
              </div>
              
              <% MarketComment.where(reply_comment_id: comment.id).each do |reply| %>
                <div class="py-2" style="border-top:1px dotted rgba(0,0,0,.1); background-color: #8c8c8c61;display: flex;justify-content: center;align-items: end;">
                  <div style="display:inline-block;width:5%; text-align:right;">ㄴ</div>
                  <% if @market_post.user.id == current_user.id || reply.user.id ==  current_user.id || current_user.user_type == "manager" %>
                    <div class="p-1" style="width:90%; display:inline-block">  
                      <p class="m-1" style="font-family:NanumB;">
                        <span style="background-color:black;padding:2px; border-radius: 12px;"><img style="margin:auto" src="<%= image_path('icon/login_fill.png') %>" alt="icon_login" height='17px' /></span>
                        <%= reply.user.email %>
                        <!--<img style="margin:auto" src="<%= image_path('icon/secret.png') %>" alt="icon_secret" height='17px' />-->
                      </p>
                      <p class="m-2 pr-5">
                        <%= reply.content %>
                        <span style="padding-left:10px;font-size:12px;opacity:0.5;color: rgb(138, 131, 126) !important;"><%= reply.created_at.in_time_zone("Seoul").strftime("%y.%m.%d %H:%M")%></span>
                      </p>
                      
                    </div>
                    <%= link_to 'X', market_post_market_comment_path(@market_post, reply), method: :delete, "data-confirm" => "정말 삭제하시겠습니까?", class: "btn btn-outline-dark btn-sm", style: "padding: 0px 7px;"  if comment.user.id == current_user.id || current_user.user_type == "manager" %>
           
                  <% else %>
                  <div class="p-1" style="width:90%; display:inline-block">  
                      <p class="m-2 pr-5">
                        비밀 댓글입니다.
                        <span style="padding-left:10px;font-size:12px;opacity:0.5;color: rgb(138, 131, 126) !important;"><%= reply.created_at.in_time_zone("Seoul").strftime("%y.%m.%d %H:%M")%></span>
                      </p>
                    </div>
                  <% end %>
                </div>
              <% end %>
                
              <div class="mx-auto my-3 reply_form" style="display:none">
                <div style="display:inline-block;width:5%; text-align:right;">ㄴ</div>
                <form action='<%=market_post_reply_path(@market_post, comment)%>' method='post' style="display:inline-block;width:90%; background-color:white;border: 1px solid #ced4da;border-radius: .25rem;">
                  <input type="hidden" name="authenticity_token", value = "<%=form_authenticity_token %>">      
                  <div class="form-group row">
                    <div class="col-sm-11" style="margin: auto;" >
                      <div class="m-2 p-1" style="font-family:NanumB;font-size:11px;display:inline-block;">
                        <span style="background-color:black;padding:2px; border-radius: 12px;"><img style="margin:auto" src="<%= image_path('icon/login_fill.png') %>" alt="icon_login" height='12px' /></span>
                        <%= current_user.email%><span style="color:blue; padding-left:5px;">(<% if current_user.id == @market_post.user.id%>글쓴이<%else%>댓글은 글쓴이만 보입니다.<%end%>)</span>
                      </div>
                      <div class="form-check m-2" style="display:none;font-size:13px;"> <!-- inline-block -->
                        <input class="form-check-input" type="checkbox" value="true" id="is_secret" name="is_secret" checked>
                        <label class="form-check-label" for="is_secret">비밀댓글</label>
                      </div>
                      <textarea class="form-control" name="marekt_content" rows="3" style="width:94%; margin-left:3%; margin-right:3%; resize: none;border: 0px solid #ced4da;" placeholder="댓글을 입력해주세요"></textarea>
                    </div>
                    <div class="col-sm-1 p-0" >
                        <button type="submit" class="btn btn-outline-dark btn-sm" style="display:inline-block;position:absolute; bottom:0px">등록</button>                 
                    </div>
                  </div>
                </form>
              </div>

            </div>  
          <% end %>
      </div>
    </div>


    <div class="col-sm-10 offset-sm-1 ">
      <form action='<%=market_post_market_comments_path(@market_post)%>' method='post' style="background-color:white;border: 1px solid #ced4da;border-radius: .25rem;">
        <input type="hidden" name="authenticity_token" value = "<%=form_authenticity_token %>">      
        <div class="form-group row">
          <div class="col-sm-11" style="margin: auto;" >
            <div class="m-2 p-1" style="font-family:NanumB;font-size:11px;display:inline-block;">
              <span style="background-color:black;padding:2px; border-radius: 12px;"><img style="margin:auto" src="<%= image_path('icon/login_fill.png') %>" alt="icon_login" height='12px' /></span>
              <%= current_user.email%><span style="color:blue; padding-left:5px;">(<% if current_user.id == @market_post.user.id%>글쓴이<%else%>댓글은 글쓴이만 보입니다.<%end%>)</span>
            </div>
            <div class="form-check m-2" style="display:none;font-size:13px;"> <!-- inline-block -->
              <input class="form-check-input" type="checkbox" value="true" id="is_secret" name="is_secret" checked>
              <label class="form-check-label" for="is_secret">비밀댓글</label>
            </div>
            <textarea class="form-control" name="marekt_content" rows="3" style="width:94%; margin-left:3%; margin-right:3%; resize: none;border: 0px solid #ced4da;" placeholder="댓글을 입력해주세요"></textarea>
          </div>
          <div class="col-sm-1 p-0" >
              <button type="submit" class="btn btn-outline-dark btn-sm" style="display:inline-block;position:absolute; bottom:0px">등록</button>                 
          </div>
        </div>
      </form>
    </div>
  </div>  
</div>