<div class="container-fluid" style="background-color:#f2f2f2; height:100%;">
  <div style=" margin:0 auto auto">
    <div class="d-flex justify-content-center" style="padding-top:50px;">
      <a href="/">
        <img src="<%= image_path('logo.png') %>" alt="logo" style="width:195px;"/>
        <hr style="border-top: 2px solid #f92232; margin: 15px 30px 85px; ">
      </a>
    </div>

    <div class="d-flex flex-column justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {style: "display: inline-block; margin: auto; border: 1px solid gray; border-radius: 50px;", class: "p-5 mb-3"}) do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, required: false, autofocus: true, class:"form-control"  %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, required: false, class: "form-control" %>
        </div>

        <%= f.submit "Log in", class: "btn btn-outline-dark" %>
        <p class="mt-3 mb-0" style="color:#8c8c8c">※ 관리자 <br>　email: a@a <br>　password: 123123 </p>
      <% end %>
        <%= link_to "Sign up", new_user_registration_path,class: "btn btn-outline-dark", style: "width:410px; display: block; margin: 10px auto 40px; border-radius: 35px;" %>

      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "", omniauth_authorize_path(resource_name, provider), class: "popup btn_login_#{provider} p-2", "data-width": 600, "data-height": 400 %><br />
        <% end -%>
      <% end -%>
    </div>
  </div>
</div>
