// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, or any plugin's
// vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require rails-ujs
//= require turbolinks
//= require jquery3
//= require popper
//= require bootstrap
//= require tinymce-jquery
//= require jquery.slick
//= require_tree .


function popupCenter(linkUrl, width, height, name) {
  var separator = (linkUrl.indexOf('?') !== -1) ? '&' : '?',
      url = linkUrl + separator + 'popup=true',
      left = (screen.width - width) / 2,
      top = (screen.height - height) / 2,
      windowFeatures = 'menubar=no,toolbar=no,status=no,width=' + width +
          ',height=' + height + ',left=' + left + ',top=' + top;
  return window.open(url, name, windowFeatures);
}

$(document).on('turbolinks:load', function() {
  $("a.popup").click(function(e) {
    popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
    e.stopPropagation(); return false;
  });
});


$(document).on('scroll', window, function() {
  if (window.location.pathname === "/" || window.location.pathname === "/d_day" ) {
    var executed = false;
    if ($(window).scrollTop() > $(document).height() - $(window).height() - 10 && !executed) {  
      executed = true;
      var url = $('.pagination .next_page').attr('href');
      $('.pagination').empty();
      $('.pagination').remove();
      if (url !== undefined){
        $('#ads').append('<div class="col-sm-3 p-4 cs-style-3 loading" style="height:330px;  margin-bottom:30px"><div class="spinner" style=" margin:115px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>');
        return $.getScript(url).done(function() { 
          executed = false;
          $('.loading').empty();
          $('.loading').remove();
        });
      }
    } 
  }  else if (window.location.pathname === "/search") {
    var executed_s = false;
    if ($(window).scrollTop() > $(document).height() - $(window).height() - 10 && !executed_s) {  
      executed_s = true;
      var event_url = $('#event_pagination .next_page').attr('href');
      var coupon_url = $('#coupon_pagination .next_page').attr('href');
      
      $('#event_pagination').empty(); $('#event_pagination').remove();
      $('#coupon_pagination').empty(); $('#coupon_pagination').remove();

      if (event_url !== undefined && coupon_url !== undefined){
        $('#event_searches').append('<div id="event_loading" class="col-sm-6 p-4 cs-style-3" style="height:330px;  margin-bottom:30px"><div class="spinner" style=" margin:115px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>');
        $('#coupon_searches').append('<div id="coupon_loading" class="col-sm-6 p-4 cs-style-3" style="height:330px;  margin-bottom:30px"><div class="spinner" style=" margin:115px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>');
        return $.getScript(event_url).done(function() { 
          executed_s = false;
          $('#event_loading').empty();
          $('#event_loading').remove();
          $('#coupon_loading').empty();
          $('#coupon_loading').remove();
        });
      } else {
        if (event_url !== undefined) {
          $('#event_searches').append('<div id="event_loading" class="col-sm-6 p-4 cs-style-3" style="height:330px;  margin-bottom:30px"><div class="spinner" style=" margin:115px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>');
          return $.getScript(event_url).done(function() { 
            $('#event_loading').empty();
            $('#event_loading').remove();
            executed_s = false;
          });
        } else if (coupon_url !== undefined) {
          $('#coupon_searches').append('<div id="coupon_loading" class="col-sm-6 p-4 cs-style-3" style="height:330px;  margin-bottom:30px"><div class="spinner" style=" margin:115px auto;"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>');
          return $.getScript(coupon_url).done(function() { 
            $('#coupon_loading').empty();
            $('#coupon_loading').remove();
            executed_s = false;
          });
        }
      }
      
    } 
  }


});





$(document).on('click', '.like_ad', function (){
  var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
  var $div = $(this).parent();
  var ad_id = $(this).attr("alt").split("-")[1];
  var isLike = $(this).attr("alt").split("-")[0];
  
  var loading = '<div class="spinner"></div>';

  var alt = isLike === 'like' ? 'unlike-' + ad_id : 'like-' + ad_id;
  var img_path = isLike === 'like' ? '<%= image_path("icon/unlike.png") %>' : '<%= image_path("icon/like.png") %>';

  $div.empty();
  $div.append(loading);
  $.ajax({
    method: "POST",
    url: "/ad_like/" + ad_id,
    data: { authenticity_token: AUTH_TOKEN },
    success: function(){
      $div.empty();
      $div.append(`<img src="${img_path}" alt="${alt}" height="25px" style="cursor:pointer;" class="like_ad"/>`);
    }
  })
  return false;
});