/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require slick
 *= require slick-theme
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@font-face { font-family:NanumL; src: url("../fonts/NanumSquareL.ttf") format("opentype"); }
@font-face { font-family:NanumR; src: url("../fonts/NanumSquareR.ttf") format("opentype"); }
@font-face { font-family:NanumB; src: url("../fonts/NanumSquareB.ttf") format("opentype"); }
@font-face { font-family:NanumEB; src: url("../fonts/NanumSquareEB.ttf") format("opentype"); }


:focus {
  box-shadow: 0 0 0 0rem !important;
}