.btn_login_naver, .btn_login_facebook, .btn_login_kakao {
  content: '';
  width: 408px;
  height: 55px;
  background-size: cover;
  display: block;
  margin: 10px auto;
}
.btn_login_naver { background-image:  url(<%= image_path('btn/naver.png') %>); }
// .btn_login_naver:hover, .btn_login_naver:active  { background-image:  url(<%#= image_path('btn/kakao.png') %>); }

.btn_login_facebook { background-image:  url(<%= image_path('btn/facebook.png') %>); }
// .btn_login_facebook:hover, .btn_login_facebook:active  { background-image:  url(<%#= image_path('btn/kakao.png') %>); }

.btn_login_kakao { background-image:  url(<%= image_path('btn/kakao.png') %>); }
  