
/**/
.cs-style-1 figcaption h5 {
	text-align: left;
	color: black;
}
.cs-style-1 figcaption p {
	text-align: left;
	color: black;
	margin :0px;
}
.cs-style-1 figure {
	overflow: hidden;
  position: relative;
}
.cs-style-1 figcaption {
	position: absolute;
	left: 0;
	padding: 5px;
	background: white;
	color: black;
	height: 110px;
	width: 100%;
	top: auto;
	bottom: 30px;
	opacity: 1;
	transform: translateY(100%);
	transition: transform 0.3s, opacity 0.3s ;
}
.cs-style-1 figure:hover figcaption {
	transform: translateY(40px);
  opacity: 1;
	transition: transform 0.3s, opacity 0.3s;
}
.cs-style-1 figure:hover .big_badge {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.cs-style-1 figure .big_badge {
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;

}
/**/
.cs-style-3 figcaption h5 {
	text-align: left;
	color: black;
}
.cs-style-3 figcaption p {
	text-align: left;
	color: black;
	margin :0px;
}
.cs-style-3 figure {
	overflow: hidden;
  position: relative;
}
.cs-style-3 figcaption {
	position: absolute;
	left: 0;
	padding: 5px;
	background: white;
	color: black;
	height: 75px;
	width: 100%;
	top: auto;
	bottom: 25px;
	opacity: 1;
	transform: translateY(100%);
	transition: transform 0.3s, opacity 0.3s;
}
.cs-style-3 figure:hover figcaption {
	transform: translateY(27px);
  opacity: 1;
	transition: transform 0.3s, opacity 0.3s;
}
figure::before {
  content:"";
  position:absolute; top:0;right:0;bottom:0;left:0;
  background:inherit;
  transition:inherit;
}
figure:hover::before {
  transform: scale(1.05);
  transition: transform 0.3s;
}
/**/
.item {
  cursor:pointer;
  height:100%;
}
.slick-slide {
outline: none;
}
