// Place all the styles related to the market_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.category {
  color: black !important;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 12px;
  border: black solid 1px;
  border-radius: 14px;
  margin: 5px;
}
.category:hover {
  color: white !important;
  background-color: black;
  border: 0px solid;
  font-size: 12px;
  margin: 8px;
}
.category:active {
  color: white !important;
  background-color: black;
  border: 0px solid;
  font-size: 12px;
  margin: 8px;
}
.category_active {
  color: white !important;
  background-color: black;
  border: 0px solid;
  font-size: 12px;
  margin: 8px;
}