
/* spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* /spinner/ */


#modal_container {
  position:relative;
  margin-bottom:5px;
}
#modal_img {
  width:402.5px; 
  height:500px;
  display:block; 
  margin-left:auto;
  margin-right:auto;
}
#modal_etc {
  opacity: 0;
  position: absolute;
  width:402.5px; 
  height:500px;
  top:0;
  left:0;
  background-color: #ff797950;
  text-align: center;
  width :100%;
  transition: opacity 0.1s;
}
#modal_container:hover #modal_etc {
  opacity: 1; 
  transition: opacity .1s;
}

#modal_container:hover #modal_img{
  -webkit-filter: blur(5px); /* Safari */
  filter: blur(5px);    
  opacity: 0.3;
  transition: opacity 0.1s;
}


.sub_ad:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}
