

/* nav */
.ad-nav {
  z-index: 9999;
}
.nav-icon-search {
  background-image:  url(<%= image_path('icon/search.png') %>);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  cursor: pointer;
}
.nav-search-cancle {
  background-image:  url(<%= image_path('icon/close.png') %>) !important;
  animation: info-in 400ms ease-out both;
}
.nav-item-none-effect {
  animation: info-out 400ms ease-out both;
}
@keyframes info-out {
  100% {
    transform: scale(0.0);
    opacity: 0;
  }
}
.nav-item-effect {
  animation: info-in 400ms ease-out both;
}
@keyframes info-in {
  0% {
    transform: scale(0.0);
    opacity: 0;
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}


.nav-search-bar {
  width:70%;
}
.nav-search-bar form {
  opacity: 0;
  height:100%;
  padding-left:40px;
  position:relative;
  width:100%;
}
.nav-search-bar-in-effect {
  animation: slide 400ms forwards;
}
.nav-search-bar-out-effect {
  animation: slide-out 400ms forwards;
}
@keyframes slide {
  0% {  left: 50%; opacity:0;}
  100% { left: 0;
          opacity: 1; }
}
@keyframes slide-out {
  0% { left: 0;
          opacity: 1; }
  100% { left: 50%;
          opacity: 0; }
}
.nav-search-bar form input {
  background-color: transparent;
  border: 0px;
  outline:none;
  color:white;
  font-family:NanumB;
  width:100%;
}
.nav-search-bar form button {
  background-image:  url(<%= image_path('icon/search.png') %>);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  height:100%;
  position: absolute;
  left:0px;
}
.search-bg {
  background: rgba(0,0,0,0.4);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.nav-item a:hover {
  opacity:0.7;
	transition: opacity 0.2s;
}
.nav-item img {
  cursor: pointer;
}
.nav-item img:hover {
  opacity:0.7;
	transition: opacity 0.2s;
}
.nav-icon-search:hover{
  opacity:0.7;
	transition: opacity 0.2s;
}

.nav-item a {
  font-size: 12px !important;
}

.nav-item {
  font-size: 12px !important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  transform: translate3d(0px, 30px, 0px);
  top: 0px;
  left: 0px;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-menu {
  transform: translate3d(0px, 41px, 0px) !important;
  border-radius:0px;
  border:0px;
  min-width: 7rem !important; 
  background-color:#212529d1 !important;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #00000000 !important; 
}

// @media screen and (max-width: 576px) { 
 // .nav-list { display: none !important }
//}