<div class="ad-nav" style="background-color:#212529d1!important; position:fixed; top:0px; width:100%; height:44px; z-index: 999;">
  <div class="container" style="height:100%">
    <ul class="nav-list d-flex justify-content-between" style="text-align:center;height:100%; font-size:14px;padding-right:40px">
      <li class="nav-item d-flex align-items-center">
        <%= link_to image_tag("logo2.png", alt: "icon_logo", height:'27px'), root_path %>
      </li> 
      <li class="nav-item d-none d-sm-flex align-items-center nav-d-day">
        <%= link_to 'D-DAY', '/d_day', class: "nav-ink", style: "color:white !important; width:100px; text-decoration: none !important;" %>
      </li>
      <li class="nav-item d-none d-sm-flex align-items-center nav-market dropdown" style="font-size: 12px">
        <div class="nav-market-name"style="text-align:center; cursor: pointer; color:white !important;  width:100px; margin:auto"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AD MARKET</div>
        <div class="dropdown-menu" aria-labelledby="adMarket" style="">
          <%= link_to '삽니다', market_posts_path(type: 'buy'), class: 'dropdown-item',  style: "color:white !important; text-align:center; text-decoration: none !important;" %>
          <%= link_to '팝니다', market_posts_path(type: 'sell'), class: 'dropdown-item',  style: "color:white !important; text-align:center; text-decoration: none !important;" %>
        </div>
      </li>
     <li class="nav-item d-none d-sm-flex align-items-center nav-client dropdown">
        <div class="nav-market-advertise"style="text-align:center; cursor: pointer; color:white !important;  width:100px; margin:auto"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADVERTISE</div>
        <div class="dropdown-menu" aria-labelledby="adMarket" style="">
          <%#= link_to '소개', '/intro', class: 'dropdown-item',  style: "color:white !important; text-align:center; text-decoration: none !important;" %>
          <%= link_to '등록', ads_path, class: 'dropdown-item',  style: "color:white !important; text-align:center; text-decoration: none !important;" %>
          <%#= link_to '문의사항', services_path, class: 'dropdown-item',  style: "color:white !important; text-align:center; text-decoration: none !important;" %>
        </div>
      </li>
  
      <li class="d-flex align-items-center nav-search-bar" style="display:none !important">
        <form action="/search" method="GET" class="d-flex align-items-center nav-search-form">
          <input class="hashtag_input" type="text" name="keyword" placeholder="#치킨 #후라이드" autocomplete="off" />
          <button type="submit" aria-label="제출" style="outline: none;"disabled> </button>
        </form>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item d-none d-sm-flex align-items-center nav-login dropdown" style="width:100px;">
          <img style="margin:auto" src="<%= image_path('icon/login_fill.png') %>" alt="icon_login" height='17px'  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="min-width: 7rem;">
            <%= link_to 'My Adballoon', managers_my_adballoon_path, class: "dropdown-item",style: "text-align:center; color:white !important;"  %>
            <%= link_to '관리하기',  managers_index_path, class: "dropdown-item",style: "text-align:center; color:white !important;"  if current_user.user_type == 'manager'%>
            <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "dropdown-item",style: "text-align:center; color:white !important;" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item d-none d-sm-flex align-items-center nav-login" style="width:100px;">
          <%= link_to image_tag("icon/login.png", alt: "icon_login", height:'17px', style:"margin:auto"), new_user_session_path, class: 'nav-link', style: "margin: auto; color:white !important;" %>
        </li>  
      <% end %>

      <li class="nav-item d-flex align-items-center nav-icon-search">
      </li>
      <!--<li class="nav-item d-sm-none d-flex align-items-center">
        목록
      </li>-->
    </ul>
  </div>
</div>

<div class="search-bg">
  <div class="recommend_tag" style="background-color:white; width:0px; height:150px; margin:44px auto; display:none;">
    <p style="color: #888; font-size:10px;">인기 태그</p>
    <% @hashtags.each do |tag|%>
      <span>#<%= tag[:name] %><span style="font-size:10px;">(<%=tag[:count]%>)</span> </span>
    <% end %>
  </div>
</div>