<!DOCTYPE html>
<html>
  <head>
    <title>Adballon</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <div style="margin-top: 44px;">
      <%= yield %>

      <div class="modal fade" id="adModal" data-backdrop='static' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
          <div class="modal-content">
            <div id="loading" class="spinner" style=" margin:295px auto;">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div class="modal-body" id="my-modal-body">
            </div>
          </div>
        </div>
      </div>
    </div>

      <!--<i id="btn_top">
        <img src="<%= image_path('icon/top.png') %>" alt="btn_top" height='20px' style="width:30px;height:30px;cursor:pointer"/>
      </i>-->


    <section style="background: #f2f2f2; padding:10px 15%; width: 100%;">
      <!-- <p style="color:black; font-size:10px; margin:16px 0px 0px 0px;"><span style=" font-size:11px;">공지사항 :</span> 상세 문의는 메일로 문의해주세요</p>-->
      <hr>
      <p style="color:#888; font-size:10px">Copyright © 2018 *****. 모든 권리 보유.</p>
      <p style="color:#888; font-size:10px">사업자등록번호 : ***-**-***** | 통신판매업신고번호 : 제 0000-****-00000호 | 대표이사 : *** | 주소 : ** *** *** ***** | 대표전화 : 00-0000-0000 | 팩스 : 00-0000-0000</p>
      <hr>
    </section>

    <div class="modal fade" id="adModal" data-backdrop='static' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
        <div class="modal-content">
          <div id="loading" class="spinner" style=" margin:295px auto;">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <div class="modal-body" id="my-modal-body">
          </div>
        </div>
      </div>
    </div>
    <% flash.each do |k, v| %>
      <%= render '/shared/alert', k: k, v: v %>
    <% end %>
  </body>
</html>
